<html lang="en">
<head>
  <title>Personal Library</title>  
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<header>
  <section class="header__banner-title">
    <h1>Personal Library</h1>
  </section>
    <section class='hero-header'>
        <h2>A user front-end for the Free Code Camp Personal Library challenge</h2>
        <h3>This Repl contains my solution to the challenge, using HTML5, CSS3, Node.js, Express, and MongoDB</h3>
      <!-- the aria-label here is for a11y screen-reader users; the inner text of the <a> tag should be ignored and the aria-label text read out instead, I believe -->
        <a aria-label="click this link to see the original instructions for this challenge from the Free Code Camp website" href="https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-projects/personal-library" target="_blank" class="btn-secondary mt-1">See Challenge</a>
    </section>
</header>
<section id='sampleposting'>
  <h2 class="samplepost__h2">Test API responses</h2>
  <form action="/api/books" method="post" class="border-dark">
    <h4>Test post to <span>/api/books</span></h4>
    <p>Use this form to test sending a POST request to the database. Type the title of a book to be added to the library database. You should receive a response from the server with the title and an id.</p>
    <label for="title">Book Title</label>
    <textarea class="textarea-input" id="title" name="title" value=""></textarea>
    <button class="btn-primary mt-1" type="submit" value="Submit">Submit</button>
  </form>
  <form action="" method="post" id="commentTest" class="border-dark">
    <h4>Test post to <span>/api/books/{bookid}</span></h4>
    <p>Use this form to test sending a POST request to the database. Type the id of a book in the database and a comment about that book. You should receive a response from the server with the title, an id, and an array of comments.</p>
    <label for="idinputtest">BookId to comment on</label>
    <textarea class="textarea-input" type="text" name="id" value="" id="idinputtest"></textarea>
    <label for="comment">Comment</label>
    <textarea class="textarea-input" type="text" id="comment" name="comment" value=""></textarea>
    <button class="btn-primary mt-1" type="submit" value="Submit">Submit</button>
  </form>
</section>
<section id='sampleui'>
  <!-- child 1 -->
  <h2>Sample Front-End</h2>
  <!-- child 2 -->
  <form id="newBookForm" class="border-light">
    <h4>Add a New Book</h4>
    <p>Use this form to add a new book title to the library. You will then be able to see it added to the list of books held by the library. From there, you can add a comment about the book.</p>
    <label for="bookTitleToAdd">New Book Title</label>
    <textarea class="textarea-input" type="text" id="bookTitleToAdd" name="title" placeholder="Moby Dick"></textarea>
    <button class="btn-secondary mt-1" type="submit" value="Submit" id="newBook">Submit New Book!</button>
  </form>
  <!-- child 3 may be present -->
  <div id='display' class='border-light'>
    <h3>Books In The Library</h3>
  </div>
  <!-- child 4 may be present -->
  <div id='bookDetail' class='border-light'>
    <h3>Selected Book Details</h3>
    <p id='detailTitle'>Select a book to see it's details and comments</p>
    <div id='detailComments'></div>
    <div id='detailCommentsForm'></div>
  </div>
  <!-- child 4 -->
  <button class="btn-secondary" id='deleteAllBooks'>Delete all books...</button>
</section>
<footer>
  <div class="custom-shape-divider-top-1695745367">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
</div>
  <p>Thank you for viewing this demonstration page. To see other projects, please see my CodePen, GitHub, and Replit pages using these links.</p>
  
  <div class="footer__footer-links-container">
    
  <!-- FOOTER LINKS: for accessibility of SVGs inside otherwise empty <a> tages, see the following: https://equalizedigital.com/accessibility-checker/empty-link/#:~:text=%3E-,Add%20a%20tag%20to%20SVGs,connect%20them%20to%20the%20SVG. -->
    
    <!-- inline SVG for JDS logo -->
    <a class="footer__footer-links" href="https://www.freecodecamp.org/computerprogram" target="_blank">
      <title id="JDSLogoTitle">Personal logo of linked to the freecodecamp.org profile of this API's developer</title>
   <svg  class="footer__footer-svg" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 236 168"
 preserveAspectRatio="xMidYMid meet" fill="#fff"  role="img" aria-hidden="true" focusable="false" aria-labelledby="JDSLogoTitle">

<g transform="translate(0.000000,168.000000) scale(0.100000,-0.100000)"
stroke="none">
<path d="M772 1588 c-5 -7 -13 -47 -17 -88 l-7 -75 -77 -32 c-42 -18 -80 -33
-83 -33 -4 0 -33 23 -64 50 -31 28 -62 50 -68 50 -19 0 -176 -164 -176 -183 0
-10 23 -45 51 -78 52 -58 52 -59 34 -85 -9 -15 -25 -49 -34 -78 l-18 -51 -76
-5 c-43 -4 -83 -12 -89 -19 -16 -16 -15 -238 1 -254 6 -6 45 -13 87 -17 l76
-5 22 -60 c12 -33 27 -69 33 -79 9 -17 4 -28 -38 -76 -27 -31 -49 -66 -49 -78
0 -13 30 -50 81 -99 44 -43 85 -80 90 -82 6 -1 31 14 57 36 26 21 55 44 64 51
15 12 29 9 97 -19 l80 -32 7 -76 c3 -42 11 -82 16 -88 7 -9 45 -13 124 -13
131 0 144 7 144 74 0 91 6 102 71 126 32 11 59 26 59 31 0 11 -74 114 -89 123
-5 3 -28 -1 -51 -9 -58 -21 -203 -20 -266 2 -260 87 -378 380 -252 628 33 63
122 149 191 183 108 53 239 61 343 22 19 -7 31 -7 40 1 21 18 84 105 84 117 0
6 -27 21 -59 32 -64 24 -71 36 -71 122 0 75 -5 78 -139 78 -83 0 -122 -4 -129
-12z"/>
<path d="M1848 1096 c-81 -30 -118 -77 -118 -151 0 -78 42 -121 158 -160 100
-33 114 -45 110 -86 -2 -25 -9 -34 -31 -42 -39 -13 -76 -1 -89 28 -10 23 -17
25 -80 25 -73 0 -77 -4 -59 -53 13 -33 64 -79 103 -94 57 -20 158 -16 208 10
57 29 82 64 88 125 8 87 -29 130 -148 172 -84 30 -120 55 -120 84 0 31 18 46
56 46 31 0 64 -21 64 -41 0 -5 32 -9 70 -9 67 0 70 1 70 24 0 34 -40 87 -83
109 -49 25 -150 32 -199 13z"/>
<path d="M930 911 c0 -199 -6 -235 -38 -243 -29 -8 -66 14 -70 40 -3 20 -9 22
-69 22 l-66 0 6 -40 c11 -85 83 -140 181 -140 93 0 150 36 175 109 7 21 11
112 11 237 l0 204 -65 0 -65 0 0 -189z"/>
<path d="M1170 825 l0 -277 148 4 c162 5 194 14 258 70 54 48 84 118 84 199 0
117 -42 195 -132 245 -51 28 -59 29 -205 32 l-153 4 0 -277z m280 143 c54 -28
80 -73 80 -141 0 -89 -45 -142 -137 -159 -96 -18 -93 -23 -93 162 l0 160 53 0
c35 0 68 -8 97 -22z"/>
</g>
</svg></a>
    <!-- inline SVG for replit -->
    <a class="footer__footer-links" href="https://replit.com/@js1313" target="_blank">
      <title id="replitLogoTitle">Replit logo linked to the developer's replit.com profile</title>
      <svg class="footer__footer-svg" viewBox="0 0 32 32" fill="#fff" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true" focusable="false" aria-labelledby="replitLogoTitle">
  <g>
  <path d="M7 5.5C7 4.67157 7.67157 4 8.5 4H15.5C16.3284 4 17 4.67157 17 5.5V12H8.5C7.67157 12 7 11.3284 7 10.5V5.5Z"></path>
  <path d="M17 12H25.5C26.3284 12 27 12.6716 27 13.5V18.5C27 19.3284 26.3284 20 25.5 20H17V12Z"></path>
  <path d="M7 21.5C7 20.6716 7.67157 20 8.5 20H17V26.5C17 27.3284 16.3284 28 15.5 28H8.5C7.67157 28 7 27.3284 7 26.5V21.5Z"></path>    
  </g>
</svg></a>
    <!-- inline SVG for codepen -->
    <a class="footer__footer-links" href="https://codepen.io/Abrogated/pen/eYPPmYZ" target="_blank">
      <title id="codepenLogoTitle">Codepen logo linked to the developer's codepen.io profile</title>
      <svg class="footer__footer-svg footer__codepen-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" stroke="#fff" fill="none" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="round" role="img" aria-hidden="true" focusable="false" aria-labelledby="codepenLogoTitle">
        <path d="M3.06 41.732L32 60.932l28.94-19.2V22.268L32 3.068l-28.94 19.2zm57.878 0L32 22.268 3.06 41.732m0-19.463L32 41.47l28.94-19.2M32 3.068v19.2m0 19.463v19.2" stroke-width="6.05"/></svg></a>
    <!-- inline SVG for GitHub -->
    <a class="footer__footer-links" href="https://github.com/1jds" target="_blank">
      <title id="githubLogoTitle">github logo linked to the developer's github.com profile</title>
      <svg class="footer__footer-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 96" fill="#fff" role="img" aria-hidden="true" focusable="false" aria-labelledby="githubLogoTitle">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z"/></svg></a>
  </div>
</footer>
<!-- <hr style='margin: 50px'> -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src="/public/client.js"></script>
<script>
  /*
  *  For #sampleposting to update form action url to test inputs book id
  */
  $(function() {
    $('#commentTest').submit(function(){
      let  id = $('#idinputtest').val();
      $(this).attr('action', "/api/books/" + id);
    });
  });
</script>
  <!-- This method seems to work well for changing the textarea behaviour so that it grows automatically with text content: https://www.geeksforgeeks.org/how-to-create-auto-resize-textarea-using-javascript-jquery/ -->
  <script type="text/javascript">
        textareas = document.querySelectorAll(".textarea-input");
        textareas.forEach(item => addEventListener('input', (e) => {
            // e.target.style.height = 'auto';
            e.target.style.height = e.target.scrollHeight + 'px';          
        }, false));
 // This works. We could also change the 'forEach(item...' to 'forEach((item, index)...' and then change 'e.target.style...' to 'textareas[index].style...'
// textareas.forEach((item, index) => {item.addEventListener('input', () => {textareas[index].style.height = 'auto';textareas[index].style.height = textareas[index].scrollHeight + 'px';})});
    </script>
 
    
</body>
</html>
