<html>
<head>
  <title>Personal Library</title>
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
  <!-- <style>
    code {
      background-color: whitesmoke;
    }
  </style> -->
</head>
<body>
<header>
  <h1 class="header-title">Personal Library</h1>
    <section class='hero-header'>
        <h2>A user front-end for the Free Code Camp Personal Library challenge</h2>
        <h3>This Repl contains my solution to the challenge, using HTML5, CSS3, Node.js, Express, and MongoDB</h3>
      <!-- the aria-label here is for a11y screen-reader users; the inner text of the <a> tag should be ignored and the aria-label text read out instead, I believe -->
        <a aria-label="click this link to see the original instructions for this challenge from the Free Code Camp website" href="https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-projects/personal-library" target="_blank" class="btn-secondary mt-1">See Challenge</a>
    </section>
</header>
<!-- <br> -->
<section id='sampleposting'>
  <h2 class="samplepost__h2">Test API responses</h2>
  <form action="/api/books" method="post" class="border">
    <h4>Test post to <span>/api/books</span></h4>
    <p>Use this form to test sending a POST request to the database. Type the title of a book to be added to the library database. You should receive a response from the server with the title and an id.</p>
    <label for="title">Book Title</label>
    <textarea class="textarea-input" id="title" name="title" value=""></textarea>
    <!-- <input type="text" id="title" name="title" value=""> -->
    <!-- <br> -->
    <button class="btn-primary mt-1" type="submit" value="Submit">Submit</button>
  </form>
  <form action="" method="post" id="commentTest" class="border">
    <h4>Test post to <span>/api/books/{bookid}</span></h4>
    <p>Use this form to test sending a POST request to the database. Type the id of a book in the database and a comment about that book. You should receive a response from the server with the title, an id, and an array of comments.</p>
    <label for="idinputtest">BookId to comment on</label>
    <textarea class="textarea-input" type="text" name="id" value="" id="idinputtest"></textarea>
      <!-- <br> -->
    <label for="comment">Comment</label>
    <textarea class="textarea-input" type="text" id="comment" name="comment" value=""></textarea>
    <!-- <br> -->
    <button class="btn-primary mt-1" type="submit" value="Submit">Submit</button>
  </form>
</section>
<!-- <hr style='margin: 50px'> -->
<section id='sampleui'>
  <!-- child 1 -->
  <h2>Sample Front-End</h2>
  <!-- child 2 -->
  <form id="newBookForm" class="border">
    <label for="bookTitleToAdd">New Book Title</label>
    <textarea class="textarea-input" type="text" id="bookTitleToAdd" name="title" placeholder="Moby Dick"></textarea>
    <button class="btn-secondary" type="submit" value="Submit" id="newBook">Submit New Book!</button>
  </form>
  <!-- child 3 may be present -->
  <div id='display'></div>
  <!-- child 4 may be present -->
  <div id='bookDetail' class='border'>
    <p id='detailTitle'>Select a book to see it's details and comments</p>
    <ol id='detailComments'></ol>
  </div>
  <!-- child 4 -->
  <button class="btn-secondary" id='deleteAllBooks'>Delete all books...</button>
</section>
<footer>
  <div class="custom-shape-divider-top-1695745367">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
</div>
  <p>Thank you for viewing this demonstration page. To see other projects, please see my CodePen and GitHub pages using the links below.</p>
  <div class="footer-links">
    <span>ICON GOES HERE</span>
    <img src="https://res.cloudinary.com/css-tricks/images/f_auto,q_auto/v1696025388/logo-white/logo-white.png?_i=AA" alt="CodePen Logo as SVG" />
  </div>
</footer>
<!-- <hr style='margin: 50px'> -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src="/public/client.js"></script>
<script>
  /*
  *  For #sampleposting to update form action url to test inputs book id
  */
  $(function() {
    $('#commentTest').submit(function(){
      let  id = $('#idinputtest').val();
      $(this).attr('action', "/api/books/" + id);
    });
  });
</script>
  <!-- This method seems to work well for changing the textarea behaviour so that it grows automatically with text content: https://www.geeksforgeeks.org/how-to-create-auto-resize-textarea-using-javascript-jquery/ -->
  <script type="text/javascript">
        textareas = document.querySelectorAll(".textarea-input");
        textareas.forEach(item => addEventListener('input', (e) => {
            // e.target.style.height = 'auto';
            e.target.style.height = e.target.scrollHeight + 'px';          
        }, false));
 // This works. We could also change the 'forEach(item...' to 'forEach((item, index)...' and then change 'e.target.style...' to 'textareas[index].style...'
// textareas.forEach((item, index) => {item.addEventListener('input', () => {textareas[index].style.height = 'auto';textareas[index].style.height = textareas[index].scrollHeight + 'px';})});
    </script>
 
    
</body>
</html>
