/* 
  Table of Contents:
    1. Global Styles
    2. Utility Styles
    3. Header/Hero Styles
    4. Test API Section
    5. Sample Front-end Section
    6. Footer Styles
    7. Media Queries
*/


/* ==============
   1. Global Styles
   ============== */

body {
  font-family: system-ui;
  margin: 0;
  line-height: 1.5;
  background: #2e2e2e;
}

label {
  display: block;
  font-weight: bold;
}

form > h4 {
  font-size: 1.25rem;
}


/* ==============
   2. Utility Styles
   ============== */

.btn-primary {
  all: unset;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(to right, rgb(0, 128, 153,0.8) 0%, rgb(0,93,154,0.8) 50%, rgb(3,66,107,0.8) 100%);
  color: #fff;
}
.btn-primary:hover {
  background: linear-gradient(to right, rgb(0, 128, 153,0.9) 0%, rgb(0,93,154,1) 50%, rgb(3,66,107,0.9) 100%);
}
.btn-primary:focus-visible {
  outline: 4px solid black;
}

.btn-secondary {
  all: unset;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 13px 23px;
  border: 1px solid #fff;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  color: #fff;
}

.btn-secondary:hover, .btn-secondary:focus {
  transition: 0.25s;
  color: #222;
  background: #f7f7f7;
}

/* distinct focus for a11y users; could the contrast be improved? */
.btn-secondary:focus-visible {
  outline: 4px solid black;
}

.mt-1 {
  margin-top: 1rem;
}

.border-dark {
  border: 3px solid #005d9a;
  padding: 10px;
  border-radius: 7px;
}

.border-light {
  border: 3px solid gold;
  padding: 0.75rem 1.75rem 1.25rem;
  border-radius: 7px;
}


/* ==============
   3. Header/Hero Styles
   ============== */

.header__banner-title {
  background: #005d9a;
  color: #fff;
  min-height: 70px;
  padding: 0.25rem;
  display: grid;
  place-content: center;
  text-transform: uppercase;
  text-align: center;
}
.header__banner-title > h1 {
  margin: 0;
  font-size: clamp(1.75rem, 1.536rem + 1.143vw, 2.25rem);
  letter-spacing: 2px;
}

.hero-header {
    width: 100%;
    height: 350px;
    text-align: center;
    padding-top: clamp(30px, 30px + 5vw, 60px);
    color: white;
    overflow: hidden;
    background: #005d9a;  /* fallback for old browsers */
    background: linear-gradient(rgb(3,66,107,0.8), rgb(0,93,154,0.8)), url("https://images.unsplash.com/photo-1530608031805-8e170c1b793a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2748&q=80");
    background-size: cover;
    background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
  margin-bottom: -5vw;
}

.hero-header > h2 {
  font-size: clamp(1.25rem, 0.1563rem + 3.7500vw, 2.5rem);
  line-height: 1;
  font-weight: 900;
}

.hero-header > h3 {
  font-size: clamp(1rem, 0.3281rem + 1.8750vw, 1.5rem);
} 

.hero-header > h2, .hero-header > h3 {
  padding: 0rem 5rem;
}


/* ==============
   4. Test API Section
   ============== */

.sampleposting {
  text-align: center;
  background: #f0f0f0;
  color: #03426b;
  padding: 4rem 2rem;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, minmax(min-content, 475px));
  grid-template-areas:
    "title title"
    "test1 test2";
  column-gap: 2rem;
}

.sampleposting > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;
  padding: 0.25rem 1.75rem 1.25rem 1.75rem;
}


.sampleposting > form > h4 > span {
  font-family: monospace, 'Courier New';
}
.sampleposting > form > p {
  color: #000;
}

.samplepost__h2 {
  grid-area: title;
  place-self: center;
}

.textarea-input {
  margin: 0.5rem 0rem;
  padding: 0.5rem;
  width: 80%;
  max-width: 40ch;
  /* this initial height value will be overwritten by the script in index.html*/
  height: 2.5rem;
  line-height: 1.5rem;
   display: block;
   overflow: hidden;
   resize: none;
}

.textarea-input:focus, .textarea-input:focus-visible {
  outline: 1px solid black inset;
  border-radius: 1px;
}


/* ==============
   5. Sample Front-end Section
   ============== */

.sampleui {
    text-align: center;
    background: #005d9a;
    color: #fff;
    padding: 4rem 2rem;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, minmax(min-content, 475px));
  grid-template-areas:
    "title title"
    "addNew addNew"
    "libraryBooks bookDetails";
  gap: 2rem;
}

.sampleui > * {
  max-width: 1000px;
}

.sampleui > h2 {
  grid-area: title;
  margin-bottom: 0;
}

.new-book-form {
  grid-area: addNew;
  margin-bottom: 0;
}

.sampleui > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25rem 1.75rem 1.25rem;
}

.listWrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.bookItem {
  all: unset;
  display: block;
  padding: 0.75rem 1rem;
  margin: 0;
}

.bookItem:hover, .bookItem:focus-visible {
  cursor: pointer;
  outline: 2px solid #fff;
}

.bookItem:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

.bookItem:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}

.bookItem:nth-child(15) {
  border-radius: 0 0 0.5rem 0.5rem;
}

.bookItem:nth-child(even) {
  background: rgba(255, 255, 255, 0.05);
}

.bookItem:nth-child(odd) {
  background: rgba(255, 255, 255, 0.1);
}

.book-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.detail-comments {
	display: flex;
	flex-direction: column;
  margin-bottom: 1rem;
}

.detail-comments:empty {
  display: none;
}

.detail-comments-form:empty {
  display: none;
}

.specificBookComment {
  padding: 0.75rem 1rem;
  margin: 0;
}

.specificBookComment:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

.specificBookComment:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}

.specificBookComment:only-child {
  border-radius: 0.5rem;
}

.specificBookComment:nth-child(even) {
  background: rgba(255, 255, 255, 0.05);
}

.specificBookComment:nth-child(odd) {
  background: rgba(255, 255, 255, 0.1);
}

.detail-title {
	margin: 0;
  margin-bottom: 1rem;
  border-top: 1px solid #042f5d;
	border-bottom: 1px solid #6e91b7;
  border-radius: 0.5rem;
	padding: 1rem 0rem;
}

.detail-title__title {
  margin: 0;
	margin-bottom: 0.25rem;
  font-weight: bold;
	text-transform: capitalize;
}

.detail-title__id {
	margin: 0;
}

.jQueryBtns {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
	gap: 1.5rem;
}

.new-comment-form {
  width: 100%;
  margin-bottom: 1rem;
}

.new-comment-form > textarea {
  margin: 0 auto;
}


/* ==============
   6. Footer Styles
   ============== */

footer {
  /* position: relative, so that the SVG section divider will work */
  position: relative;
  background: #042f5d;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2.5rem 1rem 1rem 1rem;
}

footer > p {
  max-width: 410px;
  text-align: center;
  place-self: center;
}

.footer__footer-links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}


.footer__footer-links {
  height: 2rem;
  width: 2rem;
}

.footer__footer-links:first-of-type {
  width: 3rem;
}

.footer__footer-links:focus-visible {
  outline: 4px solid #fff;
}

/* the ":not(.class)" selector is being used here, because while the other SVG icons have no stroke but a fill, the codepen SVG has a stroke but no fill... */
.footer__footer-links:hover .footer__footer-svg:not(.footer__codepen-svg) {
  fill: #FFDF00;
}

.footer__footer-links:hover .footer__codepen-svg {
  stroke: #FFDF00;
}

.footer__footer-links:first-of-type {
  margin-right: auto;
}

.footer__footer-svg {
  max-height: 2rem;
}

/* Below styles from https://www.shapedivider.app/
   These create the 'wedge shape at the footer divider top' */
.custom-shape-divider-top-1695745367 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1695745367 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1695745367 .shape-fill {
    fill: #005d9a;
}


/* ==============
   7. Media Queries
   ============== */

@media screen and (max-width: 450px) {
  .hero-header > h2, h3 {
    padding: 0rem 1rem;
  }
}

@media screen and (max-width: 450px) {
  .border-light {
    padding: 0.75rem 0.75rem 1.25rem;
  }
}

@media screen and (max-width: 650px) {
  .sampleposting {
    text-align: center;
    background: #f0f0f0;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

@media screen and (max-width: 750px) {
  .sampleui {
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  } 
}


@media screen and (min-width: 750px) {
  .footer__footer-links-container {
    margin: 0 auto;
  }
}